<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>模板管理</title>
    <link rel="stylesheet" href="./lib/element-ui/element-ui.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="control">
        <el-tabs v-model="pageCount" tab-position="left" type="border-card">
          <el-tab-pane label="展示页" :name="1">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  :rules="rules"
                  ref="ruleForm1"
                  label-width="120px"
                >
                  <el-form-item label="描述提示文案" prop="show_info_text">
                    <el-input v-model="formData.show_info_text"></el-input>
                  </el-form-item>
                  <el-form-item label="推荐按钮文案" prop="show_btn_text">
                    <el-input v-model="formData.show_btn_text"></el-input>
                  </el-form-item>
                  <el-form-item label="背景色" prop="show_bg_color">
                    <el-color-picker v-model="formData.show_bg_color" ></el-color-picker>
                  </el-form-item>
                  <el-form-item label="背景图" prop="bgImg">
                    <el-upload
                      class="bg-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.show_bg_img"
                      :accept="['image/jpeg', 'image/jpg', 'image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = 'show_bg_img'"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传jpg/png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm1')"
                      >确定</el-button
                    >
                    <el-button @click="resetForm('ruleForm1')">重置</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <el-scrollbar>
                    <div class="content defbg" :style="contentBgStyle1">
                      <div class="rule-btn">活动规则</div>
                      <div class="poster-view"></div>
                      <ul class="templates">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                      <div class="info">{{formData.show_info_text}}</div>
                      <div class="recommend-btn">
                        {{formData.show_btn_text}}
                      </div>
                    </div>
                  </el-scrollbar>
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="生成页" :name="2">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  :rules="rules"
                  ref="ruleForm2"
                  label-width="120px"
                >
                  <el-form-item label="描述提示文案" prop="render_info_text">
                    <el-input v-model="formData.render_info_text"></el-input>
                  </el-form-item>
                  <el-form-item label="复制按钮文案" prop="render_btn_text">
                    <el-input v-model="formData.render_btn_text"></el-input>
                  </el-form-item>
                  <el-form-item label="背景色" prop="render_bg_color">
                    <el-color-picker v-model="formData.render_bg_color"></el-color-picker>
                  </el-form-item>
                  <el-form-item label="背景图" prop="render_bg_img">
                    <el-upload
                      class="bg-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.render_bg_img"
                      :accept="['image/jpeg', 'image/jpg', 'image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = 'render_bg_img'"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传jpg/png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm2')"
                      >确定</el-button
                    >
                    <el-button @click="resetForm('ruleForm2')">重置</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <el-scrollbar>
                    <div class="content defbg" :style="contentBgStyle2">
                      <div class="rule-btn">活动规则</div>
                      <div class="poster"></div>
                      <div class="info">{{formData.render_info_text}}</div>
                      <div class="copy-btn">{{formData.render_btn_text}}</div>
                    </div>
                  </el-scrollbar>
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="邀请页" :name="3">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  :rules="rules"
                  ref="ruleForm3"
                  label-width="120px"
                >
                  <el-form-item label="背景色" prop="invite_bg_color">
                    <el-color-picker v-model="formData.invite_bg_color"></el-color-picker>
                  </el-form-item>
                  <el-form-item label="背景图" prop="invite_bg_img">
                    <el-upload
                      class="gift-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.invite_bg_img"
                      :accept="['image/jpeg', 'image/jpg', 'image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = 'invite_bg_img'"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传jpg/png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm3')"
                      >确定</el-button
                    >
                    <el-button @click="resetForm('ruleForm3')">重置</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <el-scrollbar>
                    <div class="content pull-page landing-page" :style="contentBgStyle3">
                      <div class="receive">
                        <b>马上领取<span><i>598</i>元</span>思维大礼包</b>
                        <div class="phone"><input type="text" placeholder="请输入手机号" maxLength="11"></div>
                        <button>限时免费 立即体验</button>
                      </div>
                    </div>
                  </el-scrollbar>
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="海报模板" :name="4">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  :rules="rules"
                  ref="ruleForm4"
                  label-width="120px"
                >
                  <el-form-item label="所选模板">
                    <el-select v-model="tplIdx" placeholder="请选择模板">
                      <el-option v-for="(v, i) in formData.poster_list" :key="i" :label="v.name" :value="i"></el-option>
                    </el-select>
                    <el-button type="primary" class="marginL10" @click="addTpl">添加模板</el-button>
                    <el-button type="danger" :disabled="formData.poster_list[tplIdx].is_def" @click="removeTpl">删除模板</el-button>
                  </el-form-item>
                  <!-- <el-form-item label="蒙层">
                    <el-upload
                      class="mask-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.poster_list[tplIdx].album_mask"
                      :accept="['image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = `poster_list.${tplIdx}.album_mask`"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item> -->
                  <el-form-item label="LOGO" :prop="`poster_list.${tplIdx}.logo_img`" :rules="{
                    required: true, message: '请上传LOGO', trigger: 'change'
                  }">
                    <el-upload
                      class="logo-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.poster_list[tplIdx].logo_img"
                      :accept="['image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = `poster_list.${tplIdx}.logo_img`"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item label="标题图片" :prop="`poster_list.${tplIdx}.title_img`" :rules="{
                    required: true, message: '请上传标题图片', trigger: 'change'
                  }">
                    <el-upload
                      class="title-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.poster_list[tplIdx].title_img"
                      :accept="['image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = `poster_list.${tplIdx}.title_img`"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item label="标题尺寸位置" class="flex-form-item">
                    <el-row>
                      <el-col :span="12" class="paddingR5 flex">
                        <label>宽：</label>
                        <!-- <el-input-number v-model="formData.poster_list[tplIdx].title_style.width" controls-position="right"></el-input-number> -->
                        <div class="el-input-number is-controls-right">
                          <span role="button" class="el-input-number__decrease" @click="formData.poster_list[tplIdx].title_style.width--;changeWH('width', formData.poster_list[tplIdx].title_style)"><i class="el-icon-arrow-down"></i></span>
                          <span role="button" class="el-input-number__increase" @click="formData.poster_list[tplIdx].title_style.width++;changeWH('width', formData.poster_list[tplIdx].title_style)"><i class="el-icon-arrow-up"></i></span>
                          <el-input v-model.number="formData.poster_list[tplIdx].title_style.width" @input="changeWH('width', formData.poster_list[tplIdx].title_style)"></el-input>
                        </div>
                      </el-col>
                      <el-col :span="12" class="paddingL5 flex">
                        <label>高：</label>
                        <!-- <el-input-number v-model="formData.poster_list[tplIdx].title_style.height" controls-position="right"></el-input-number> -->
                        <div class="el-input-number is-controls-right">
                          <span role="button" class="el-input-number__decrease" @click="formData.poster_list[tplIdx].title_style.height--;changeWH('height', formData.poster_list[tplIdx].title_style)"><i class="el-icon-arrow-down"></i></span>
                          <span role="button" class="el-input-number__increase" @click="formData.poster_list[tplIdx].title_style.height++;changeWH('height', formData.poster_list[tplIdx].title_style)"><i class="el-icon-arrow-up"></i></span>
                          <el-input v-model.number="formData.poster_list[tplIdx].title_style.height" @input="changeWH('height', formData.poster_list[tplIdx].title_style)"></el-input>
                        </div>
                      </el-col>
                    </el-row>
                    <el-row class="marginT10">
                      <el-col :span="12" class="paddingR5 flex">
                        <label>X：</label>
                        <!-- <el-input-number v-model="formData.poster_list[tplIdx].title_style.left" controls-position="right"></el-input-number> -->
                        <div class="el-input-number is-controls-right">
                          <span role="button" class="el-input-number__decrease" @click="formData.poster_list[tplIdx].title_style.left--"><i class="el-icon-arrow-down"></i></span>
                          <span role="button" class="el-input-number__increase" @click="formData.poster_list[tplIdx].title_style.left++"><i class="el-icon-arrow-up"></i></span>
                          <el-input v-model.number="formData.poster_list[tplIdx].title_style.left"></el-input>
                        </div>
                      </el-col>
                      <el-col :span="12" class="paddingL5 flex">
                        <label>Y：</label>
                        <!-- <el-input-number v-model="formData.poster_list[tplIdx].title_style.top" controls-position="right"></el-input-number> -->
                        <div class="el-input-number is-controls-right">
                          <span role="button" class="el-input-number__decrease" @click="formData.poster_list[tplIdx].title_style.top--"><i class="el-icon-arrow-down"></i></span>
                          <span role="button" class="el-input-number__increase" @click="formData.poster_list[tplIdx].title_style.top++"><i class="el-icon-arrow-up"></i></span>
                          <el-input v-model.number="formData.poster_list[tplIdx].title_style.top"></el-input>
                        </div>
                      </el-col>
                    </el-row>
                  </el-form-item>
                  <el-form-item label="描述文案1" :prop="`poster_list.${tplIdx}.info_text1`" :rules="{
                    required: true, message: '请输入描述文案', trigger: 'blur'
                  }">
                    <el-input v-model="formData.poster_list[tplIdx].info_text1"></el-input>
                  </el-form-item>
                  <el-form-item label="描述文案2" :prop="`poster_list.${tplIdx}.info_text2`" :rules="{
                    required: true, message: '请输入描述文案', trigger: 'blur'
                  }">
                    <el-input v-model="formData.poster_list[tplIdx].info_text2"></el-input>
                  </el-form-item>
                  <el-form-item label="描述文案3" :prop="`poster_list.${tplIdx}.info_text3`" :rules="{
                    required: true, message: '请输入描述文案', trigger: 'blur'
                  }">
                    <el-input v-model="formData.poster_list[tplIdx].info_text3"></el-input>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm4')"
                      >确定</el-button
                    >
                    <el-button @click="resetForm('ruleForm4')">重置</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <el-scrollbar>
                    <div class="content poster-view-box">
                      <img class="album" src="" alt="" />
                      <!-- <img class="album-mask"
                        v-if="formData.poster_list[tplIdx].album_mask[0] && formData.poster_list[tplIdx].album_mask[0].path"
                        :src="formData.poster_list[tplIdx].album_mask[0].path"
                        alt=""
                      /> -->
                      <img class="title"
                        v-if="formData.poster_list[tplIdx].title_img[0] && formData.poster_list[tplIdx].title_img[0].path"
                        :src="formData.poster_list[tplIdx].title_img[0].path"
                        :style="getPxStyle(formData.poster_list[tplIdx].title_style)"
                        alt=""
                      />
                      <img class="logo"
                        v-if="formData.poster_list[tplIdx].logo_img[0] && formData.poster_list[tplIdx].logo_img[0].path"
                        :src="formData.poster_list[tplIdx].logo_img[0].path"
                        alt=""
                      />
                      <div class="btm">
                        <div class="back-rotate">
                          <div class="left">
                            <div class="user">
                              <img src="" alt="" />
                              <span>用户名</span>
                            </div>
                            <p>
                              {{formData.poster_list[tplIdx].info_text1}}<br />{{formData.poster_list[tplIdx].info_text2}}
                            </p>
                            <div class="info">{{formData.poster_list[tplIdx].info_text3}}</div>
                          </div>
                          <div class="right">
                            <div class="qrcode"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </el-scrollbar>
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="活动规则" :name="5">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  :rules="rules"
                  ref="ruleForm5"
                  label-width="120px"
                >
                  <el-form-item label="活动规则" prop="rule_text">
                    <el-input type="textarea"
                      v-model="formData.rule_text"
                      :rows="28"
                      placeholder="请输入内容">
                    </el-input>
                    <p class="info-msg">请仔细核对活动内容，商家自定义的活动内容与平台无关！</p>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm5')"
                      >确定</el-button
                    >
                    <el-button @click="resetForm('ruleForm5')">重置</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <div class="content pull">
                    <div class="alert-box">
                      <div class="rule-dialog">
                        <div class="close"></div>
                        <el-scrollbar>
                          <p>{{formData.rule_text}}</p>
                        </el-scrollbar>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="邀请语" :name="6">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  ref="ruleForm6"
                  label-width="120px"
                >
                  <el-form-item class="flex-line" :label="'邀请语' + (i + 1)" :prop="`invite_info_text.${i}.value`"
                    v-for="(v, i) in formData.invite_info_text" :key="i"
                    :rules="{
                      required: true, message: '邀请语不能为空', trigger: 'blur'
                    }">
                    <el-input v-model="v.value" @focus="focusCopyIptIdx = i"></el-input>
                    <el-button v-if="formData.invite_info_text.length > 1" @click="changeCopyText(formData, 'invite_info_text', i)">删除</el-button>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm6')">确定</el-button>
                    <el-button @click="resetForm('ruleForm6')">重置</el-button>
                    <el-button @click="changeCopyText(formData, 'invite_info_text')">新增</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <div class="content pull">
                    <div class="alert-box">
                      <div class="copy-dialog">
                        <div class="change-btn">换一换</div>
                        <p class="text-content">{{formData.invite_info_text[focusCopyIptIdx] && formData.invite_info_text[focusCopyIptIdx].value}}</p>
                        <div class="conform-btn">一键复制邀请语</div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </el-tab-pane>
          <el-tab-pane label="挽留礼品" :name="7">
            <ul class="form-box">
              <li>
                <el-form
                  :model="formData"
                  :rules="rules"
                  ref="ruleForm7"
                  label-width="120px"
                >
                  <el-form-item label="礼品图" prop="gift_img">
                    <el-upload
                      class="gift-upload"
                      :action="baseURL + '/qiniu/uploadFile'"
                      :file-list="formData.gift_img"
                      :accept="['image/jpeg', 'image/jpg', 'image/png']"
                      :on-error="handleError"
                      :on-success="handleSuccess"
                      :before-upload="beforeUpload"
                      @mousedown.native="uploadingKey = 'gift_img'"
                      drag
                    >
                      <i class="el-icon-upload"></i>
                      <div class="el-upload__text">
                        将文件拖到此处，或<em>点击上传</em>
                      </div>
                      <div class="el-upload__tip" slot="tip">
                        只能上传jpg/png文件，且不超过500kb
                      </div>
                    </el-upload>
                  </el-form-item>
                  <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm7')"
                      >确定</el-button
                    >
                    <el-button @click="resetForm('ruleForm7')">重置</el-button>
                  </el-form-item>
                </el-form>
              </li>
              <li>
                <div class="preview">
                  <el-scrollbar>
                    <div class="content pull">
                      <div class="alert-box">
                        <div class="gift-dialog">
                          <img
                            class="gift"
                            :src="formData.gift_img[0] && formData.gift_img[0].path || ''"
                            alt=""
                          />
                          <img class="bg" src="./images/alert.png" alt="" />
                        </div>
                      </div>
                    </div>
                  </el-scrollbar>
                </div>
              </li>
            </ul>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </body>
  <script src="./lib/vue/vue.min.js"></script>
  <script src="./lib/element-ui/element-ui.js"></script>
  <script src="./lib/axios/axios.min.js"></script>
  <script src="./index.js"></script>
</html>
